body {
    font-family: Arial, sans-serif;
    background-color: #0ef;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #081b29;
    color: white;
    padding: 20px 0;
    position: relative;
}
.G {
    color: #f0ad4e;
    font-size: 0.8cm;
    font-family: cursive;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    padding: 0px 20px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    margin-right: 40%;
    padding: auto;
    margin-bottom: 10px;
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    margin-left: 20px;
}

.navbar-nav li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #077184;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a{
    color: rgb(1, 12, 15);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background: #84e4f5;
    transition: .5s;
}

.navbar-nav li a:hover {
    color: #055867;
    font-weight: bold;
}

.container {
    max-width: 1400px;
    margin: 40px auto;
    padding: 0 20px;
}
.logo{
    width: 60px;
    margin-top: -10px;
    border: 2px solid #0ef;
    background-color: #0ef;
}

h1 {
    color: #ff0000;
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
    text-transform: uppercase;
    padding-left: 6%;
    position: relative;
    top: -70px;

}

.dashboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.card {
    padding: 60px;
    text-align: center;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h2 {
    font-size: 36px;
    margin: 0;
}

.card p {
    margin: 10px 0 0;
    font-size: 16px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.card.blue {
    background-color: #1e90ff; 
}

.card.red {
    background-color: #ff4d4d; /* Red */
}

.card.green {
    background-color: #5cb85c; /* Green */
}

.card.darkpink {
    background-color: #ff1493; /* Dark Pink */
}

.card.yellow {
    background-color: #f0ad4e; /* Yellow */
}

.card.darkblue {
    background-color: #00008b; /* Dark Blue */
}

.card.darkgreen {
    background-color: #006400; /* Dark Green */
}

.card.pink {
    background-color: #ffc0cb; /* Pink */
}

@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {
    .dashboard {
        grid-template-columns: 1fr;
    }

    .navbar-nav {
        display: none;
    }

    .menu-toggle {
        display: block;
    }
}
